<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${fileAssigner}">


    <label th:for="departments">Select Department</label>

    <div class="form-group">
    <select name="departmentsId">
        <option th:each="dep : ${departments}"
                th:text="${dep.name}"
                th:value="${dep.id}"></option>
    </select>

    </div>



    <div class="form-group"
         th:each="emp, iStat : ${employees}"
         th:if="iStat.size <= iStat.index+1

         th:text="emp.name>



        <label th:for="fileNumber> File Number </label>
        <input class="form-control th:field="*{fileNumber}"/>
        <input type="submit" value="Assign File To Next Employee" />
        <span th:errors="*{fileNumber}" class="error"></span>

    </div>
</form>

</body>
</html>