<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<ul>


    <table class="table">

        <tr>
            <th>File number</th>
            <th>Date Assigned</th>
            <th>Employee Assigned</th>


        </tr>

        <tr th:each="file : ${files}">
            <td th:text="${file.fileNumber}"></td>
            <td th:text="${file.date}"></td>
            <td th:text="${file.employees.name}"></td>

        </tr>

    </table>
</ul>

<p><a href="/fileAssigner/assign">Assign File</a></p>


</body>
</html>