<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation">

</nav>

<p th:unless="${employees} and ${employees.size()}">No Employees :(</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Department</th>

    </tr>

    <tr th:each="emp : ${employees}">
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.departments.name}"></td>
    </tr>

</table>


</body>
</html></html>